<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for i in range(numofslides)%}
    <img src="{{url_for("static", filename = filelist[i].split("/media/pi/SOWMYA/static/")[1])}}" id="img{{i}}" style="position:absolute;z-index:-{{i}};height:100%;width:100%">
    {%endfor%}
  </body>
  <script>
    {%for i in range(numofslides)%}
    window.setTimeout(
      function(){
        document.getElementById("img{{i}}").style.opacity=0;
      }
    ,{{(i+1)*2}}000)
    {%endfor%}
    window.setTimeout(
      function(){
        window.location.href="/bottleinterrupt"
      }
    ,{{2*numofslides}}000)
  </script>
</html>
